@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Noto+Sans&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timer__button--stop{
    display: none;
    margin-right: 10px;
}

.timer__button--reset{
    display: none;
}

.timer__button--start{
    display: block;
    margin-right: 10px;
}

.title{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 700;
}